# Ignore git stuff
.git/
.gitignore
.gitignore.txt

# Ignore environment files
.env

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore OS/system files
*.swp
.DS_Store
Thumbs.db
